# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log
crash.log

# OS
.DS_Store
Thumbs.db
